canvas {
    width:100%;
}
body{

    background-color: #000;
    margin: 0;
    overflow: hidden;

}

.info{

    position:fixed;
    font-size:14px;
    color:#fff;
    top:10px;
    left:40%;

}

.info a{
    color:#fff;
}